aiohttp
appdirs
async-timeout
beautifulsoup4
chardet
discord.py[voice]
multidict
packaging
pynacl
pyparsing
pytz
requests
six
tinydb
twitterapi
untangle
unidecode
urllib3[secure]
websockets
youtube_dl